<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OrgMan.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings><add name="OrgManEntities" connectionString="metadata=res://*/OrgManModel.csdl|res://*/OrgManModel.ssdl|res://*/OrgManModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=seeland-db.gseeland.de;initial catalog=SEE_Dev;persist security info=True;user id=see_developer;password=DevSee2019!;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <connectionStrings>
    <add name="OrgManEntities" connectionString="metadata=res://*/Database.OrgManModel.csdl|res://*/Database.OrgManModel.ssdl|res://*/Database.OrgManModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=seeland-db.gseeland.de;initial catalog=SEE_Dev;integrated security=True;min pool size=3;load balance timeout=10;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <OrgMan.My.MySettings>
      <setting name="DatabasePath" serializeAs="String">
        <value>\\seeland-fs\seeland\Entwicklung\OrgMan\Database\OrgMan.accdb</value>
      </setting>
      <setting name="LocalVersion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseMode" serializeAs="String">
        <value>MsSql</value>
      </setting>
      <setting name="ListAutoRefresh" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnvironmentName" serializeAs="String">
        <value>Dev</value>
      </setting>
      <setting name="UseApplicationRole" serializeAs="String">
        <value>False</value>
      </setting>
    </OrgMan.My.MySettings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>